body {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    color: #333;
    font-family: Arial, sans-serif; /* Added font-family for consistency */
}

#intro h1 {
    font-size: 3em;
    color: #fff;
}

#intro p {
    font-size: 1.2em;
    color: #fff;
}

button {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px; /* Adjust padding as needed */
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 1s;
    text-decoration: none;
    line-height: 40px; /* Set line-height equal to the height of the button for vertical centering */
}

button:hover {
    background-color: #038cfc;
}

a.button {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px; /* Adjust padding as needed */
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.6s;
}

a.button:hover {
    background-color: #0056b3;
}
