body {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    color: #333;
}

#intro h1 {
    font-size: 3em;
    color: #fff;
}

#intro p {
    font-size: 1.2em;
    color: #fff;
}

button {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    border: none;
    padding: 10px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 1s;
}

button:hover {
    background-color: #038cfc;
}

a.button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.6s;
}

a.button:hover {
    background-color: #0056b3;
}
