body {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    color: #333;
}

#intro h1 {
    font-size: 3em;
    color: #fff;
}

#intro p {
    font-size: 1.2em;
    color: #fff;
}

button {
    display: flex; /* Add flexbox to align text vertically */
    justify-content: center; /* Center text horizontally */
    align-items: center; /* Center text vertically */
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

a.button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

a.button:hover {
    background-color: #0056b3;
}
